body {
  margin: 0;
}

.positioner {
  background: #3c3c3c;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  height: 800px;
  width: 800px;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
  background-color: #fafafa;
}

.card img {
  position: absolute;
  height: 800px;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
  -webkit-filter: saturate(3);
          filter: saturate(3);
}

.card .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #0000001a;
}

.card .corners {
  position: absolute;
  width: 100%;
  height: 100%;
}

.card .corners .corner {
  width: 100%;
  height: calc(100% - 1rem);
  -webkit-filter: drop-shadow(2px 2px 12px #00000062);
          filter: drop-shadow(2px 2px 12px #00000062);
  position: absolute;
  border-top: 1rem solid #fafafaa6;
}

.card .corners .corner:before {
  position: absolute;
  content: '';
  width: 50%;
  background-color: #fafafa;
  height: 1rem;
  top: 1rem;
  left: -7rem;
  -webkit-transform: skewX(-45deg);
          transform: skewX(-45deg);
  -webkit-filter: drop-shadow(2px 2px 12px #000000);
          filter: drop-shadow(2px 2px 12px #000000);
}

.card .corners .corner:after {
  position: absolute;
  content: '';
  width: 50%;
  background-color: #fafafa;
  height: 1rem;
  top: 1rem;
  right: -7rem;
  -webkit-transform: skewX(45deg);
          transform: skewX(45deg);
  -webkit-filter: drop-shadow(2px 2px 12px #000000);
          filter: drop-shadow(2px 2px 12px #000000);
}

.card .corners .corner.T {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  z-index: 1;
}

.card .corners .corner.TR {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 2;
}

.card .corners .corner.R {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.card .corners .corner.BR {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  z-index: 2;
}

.card .corners .corner.B {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  z-index: 1;
}

.card .corners .corner.BL {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  z-index: 2;
}

.card .corners .corner.L {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.card .corners .corner.TL {
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
  z-index: 2;
}

.card .titlebox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  position: relative;
}

.card .titleing {
  font-family: 'Cinzel', serif;
  color: #fafafa;
  z-index: 1;
}

.card .titleing.A {
  color: #fafafaa6;
  font-size: 37rem;
  line-height: 26rem;
  border-radius: 50%;
  -webkit-box-shadow: 5px 2px 20px #000000;
          box-shadow: 5px 2px 20px #000000;
  text-shadow: 5px 2px 20px #000000;
  border: 1rem solid #fafafaa6;
  background-color: #0000008a;
  position: relative;
  width: 416px;
  height: 416px;
}

.card .titleing.A > span {
  position: absolute;
  z-index: 4;
  left: 4px;
}

.card .titleing.A:before, .card .titleing.A:after {
  position: absolute;
  content: '';
  width: calc(100% + 3rem);
  border: 12px solid transparent;
  border-bottom-color: #fafafaa6;
  height: calc(100% + 3rem);
  right: -36px;
  top: -36px;
  background: transparent;
  z-index: 0;
  -webkit-filter: drop-shadow(2px 2px 12px #000000);
          filter: drop-shadow(2px 2px 12px #000000);
  border-radius: 50%;
}

.card .titleing.A:before {
  -webkit-transform: rotate(65deg);
          transform: rotate(65deg);
}

.card .titleing.A:after {
  -webkit-transform: rotate(-65deg);
          transform: rotate(-65deg);
}

.card .titleing.A .spike-1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

.card .titleing.A .spike-1:before, .card .titleing.A .spike-1:after {
  position: absolute;
  content: '';
  width: 10px;
  height: calc(40%);
  right: calc(50% - 6px);
  top: 109%;
  background: #fafafaa6;
  z-index: 0;
  -webkit-filter: drop-shadow(2px 2px 12px #000000);
          filter: drop-shadow(2px 2px 12px #000000);
}

.card .titleing.A .spike-1:before {
  -webkit-transform: skewY(45deg);
          transform: skewY(45deg);
  right: calc(50% + 3px);
}

.card .titleing.A .spike-1:after {
  -webkit-transform: skewY(-45deg);
          transform: skewY(-45deg);
  right: calc(50% - 9px);
}

.card .titleing.A .spike-2,
.card .titleing.A .spike-3,
.card .titleing.A .spike-4,
.card .titleing.A .spike-5,
.card .titleing.A .spike-6,
.card .titleing.A .spike-7,
.card .titleing.A .spike-8,
.card .titleing.A .spike-9 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 28px;
}

.card .titleing.A .spike-2:before,
.card .titleing.A .spike-3:before,
.card .titleing.A .spike-4:before,
.card .titleing.A .spike-5:before,
.card .titleing.A .spike-6:before,
.card .titleing.A .spike-7:before,
.card .titleing.A .spike-8:before,
.card .titleing.A .spike-9:before {
  position: absolute;
  content: '';
  width: 12px;
  height: calc(40%);
  right: calc(50% - 6px);
  top: 116%;
  background: #fafafaa6;
  z-index: 0;
  -webkit-filter: drop-shadow(2px 2px 12px #000000);
          filter: drop-shadow(2px 2px 12px #000000);
  right: calc(50% - 6px);
}

.card .titleing.A .spike-2 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.card .titleing.A .spike-2:before {
  -webkit-transform: skewY(45deg);
          transform: skewY(45deg);
}

.card .titleing.A .spike-3 {
  -webkit-transform: rotate(68deg);
          transform: rotate(68deg);
}

.card .titleing.A .spike-3:before {
  -webkit-transform: skewY(45deg);
          transform: skewY(45deg);
}

.card .titleing.A .spike-4 {
  -webkit-transform: rotate(46deg);
          transform: rotate(46deg);
}

.card .titleing.A .spike-4:before {
  -webkit-transform: skewY(45deg);
          transform: skewY(45deg);
}

.card .titleing.A .spike-5 {
  -webkit-transform: rotate(24deg);
          transform: rotate(24deg);
}

.card .titleing.A .spike-5:before {
  -webkit-transform: skewY(45deg);
          transform: skewY(45deg);
}

.card .titleing.A .spike-6 {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.card .titleing.A .spike-6:before {
  -webkit-transform: skewY(-45deg);
          transform: skewY(-45deg);
}

.card .titleing.A .spike-7 {
  -webkit-transform: rotate(-68deg);
          transform: rotate(-68deg);
}

.card .titleing.A .spike-7:before {
  -webkit-transform: skewY(-45deg);
          transform: skewY(-45deg);
}

.card .titleing.A .spike-8 {
  -webkit-transform: rotate(-46deg);
          transform: rotate(-46deg);
}

.card .titleing.A .spike-8:before {
  -webkit-transform: skewY(-45deg);
          transform: skewY(-45deg);
}

.card .titleing.A .spike-9 {
  -webkit-transform: rotate(-24deg);
          transform: rotate(-24deg);
}

.card .titleing.A .spike-9:before {
  -webkit-transform: skewY(-45deg);
          transform: skewY(-45deg);
}

.card .titleing.J {
  z-index: 3;
  font-size: 7.5rem;
  letter-spacing: 1rem;
  line-height: 8rem;
  padding-left: 1.2rem;
  top: 131px;
  font-weight: 700;
  position: absolute;
  -webkit-filter: drop-shadow(2px 2px 12px #000000);
          filter: drop-shadow(2px 2px 12px #000000);
}

.card .titleing.J .apos {
  margin-left: -9px;
}

.card .titleing.J .s {
  margin-left: -18px;
}

.card .titleing.R {
  font-size: 7rem;
  line-height: 7rem;
  position: relative;
  letter-spacing: 3.6rem;
  font-weight: 700;
  padding-left: 4.6rem;
  position: absolute;
  bottom: 89px;
}

.card .titleing.R .Errant {
  position: absolute;
  width: 29px;
  overflow: hidden;
  top: 0px;
  left: 58px;
}

.card .titleing.R .words {
  -webkit-filter: drop-shadow(2px 2px 12px #000000);
          filter: drop-shadow(2px 2px 12px #000000);
}

.card .titleing.R .R {
  margin-right: -15px;
}

.card .titleing.R .left, .card .titleing.R .right {
  left: -88px;
  top: -49px;
  position: relative;
}

.card .titleing.R .left:after, .card .titleing.R .right:after {
  position: absolute;
  content: '';
  width: 81px;
  border: 0.7rem solid transparent;
  border-left-color: #fafafa;
  border-top-color: #fafafa;
  height: 2rem;
  right: 87%;
  top: 59px;
  border-top-left-radius: 40px;
  background: transparent;
  z-index: 0;
  -webkit-filter: drop-shadow(2px 2px 12px #000000);
          filter: drop-shadow(2px 2px 12px #000000);
}

.card .titleing.R .left:before, .card .titleing.R .right:before {
  position: absolute;
  content: '';
  width: 74px;
  border: 0.7rem solid transparent;
  border-left-color: #fafafa;
  border-top-color: #fafafa;
  height: 0rem;
  right: 82.5%;
  top: 90px;
  background: transparent;
  z-index: 0;
  -webkit-filter: drop-shadow(2px 2px 12px #000000);
          filter: drop-shadow(2px 2px 12px #000000);
}

.card .titleing.R .left .left-feathers:after,
.card .titleing.R .left .right-feathers:after, .card .titleing.R .right .left-feathers:after,
.card .titleing.R .right .right-feathers:after {
  position: absolute;
  content: '';
  width: 0px;
  border: 0.4rem solid transparent;
  border-left-color: #fafafa;
  border-top: #fafafa;
  height: 230px;
  right: 91%;
  top: 45px;
  -webkit-transform: skewY(-45deg);
          transform: skewY(-45deg);
  background: #fafafa;
  z-index: 0;
  -webkit-filter: drop-shadow(2px 2px 12px #000000);
          filter: drop-shadow(2px 2px 12px #000000);
}

.card .titleing.R .left .left-feathers:before,
.card .titleing.R .left .right-feathers:before, .card .titleing.R .right .left-feathers:before,
.card .titleing.R .right .right-feathers:before {
  position: absolute;
  content: '';
  width: 0px;
  border: 0.4rem solid #fafafa;
  background-color: #fafafa;
  height: 139px;
  right: 95%;
  top: 45px;
  -webkit-transform: skewY(45deg);
          transform: skewY(45deg);
  z-index: 0;
  -webkit-filter: drop-shadow(2px 2px 12px #000000);
          filter: drop-shadow(2px 2px 12px #000000);
}

.card .titleing.R .right {
  left: unset;
  right: -14px;
  top: -160px;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}
/*# sourceMappingURL=ajr_styles.css.map */